---
---

$bg-fill: #30353D;

.main-body {
	background-color: $bg-fill;

	.jumbotron {
		background-color: #06A;
		color: white;
	}

	.body-content {
		background-color: #EEE;
		padding: 0px 40px 40px 40px;
		box-shadow: 4px 4px 5px $bg-fill - #202020;
	}
}


footer {
	margin: 10px;
	color: $bg-fill + #333;
}
