---
---

$bg-fill: #30353D;
$dark-blue: #122951;

.main-body {
	background-color: #EEE;

	.jumbotron {
		background-color: $dark-blue;
		color: white;
	}

	.body-content {
		padding: 0px 40px 40px 40px;
	}
}

.default-body {
	background-color: $bg-fill;
	padding-top: 70px;

	.body-content {
		background-color: #EEE;
		padding: 0px 40px 40px 40px;
		box-shadow: 4px 4px 5px $bg-fill - #202020;
	}
}


footer {
	margin: 10px;
	color: $bg-fill + #333;
}

.navbar-inverse {
	background-color: $dark-blue;
}
.navbar-inverse .navbar-nav > .active > a,
 .navbar-inverse .navbar-nav > .active > a:focus,
  .navbar-inverse .navbar-nav > .active > a:hover {
	
	background-color: $dark-blue - #101010;
}

