
<footer class="text-center">
	&copy; 2015 DNFF | <a href="https://github.com/vincentzhang96/DragonNestFileFormats{{ page.repolink }}"><i class="fa fa-github"></i> View this page's source code</a> | Hosted on <a href="https://pages.github.com/">GitHub Pages</a> 
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
