<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Data Type</th>
        <th>Value</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    {% for entry in include.data %}
    <tr>
        <td>
            {{ entry.name }}
        </td>
        <td>
            <code>{{ entry.type }}</code>
        </td>
        <td>
            {% if entry.value %}
                {% if entry.value.code == true %}
                <code>{{ entry.value.data }}</code>
                {% else %}
                {{ entry.value.data }}
                {% endif %}
            {% else %}
                <i>Varies</i>
            {% endif %}
        </td>
        <td>{{ entry.description }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
