<!DOCTYPE html>

{% include head.html %}

<body class="main-body default-body">
	<nav class="navbar navbar-inverse navbar-default navbar-fixed-top">
		<div class="navbar-header">
			<a href="{{ site.baseurl }}/" class="navbar-brand">Dragon Nest File Formats</a>
		</div>
		<ul class="nav navbar-nav">
			<li class="active">
				<a href="#">{{ page.title }}</a>
			</li>
		</ul>
	</nav>
	<div class="container body-content">
		<div class="page-header">
			{% include header.html %}
		</div>
		<div class="content">
			{{ content }}
		</div>
	</div>
	<div class="container">
		{% include footer.html %}
	</div>
</body>


